.Gamepage {
  text-align: center;
}

.nav-bar {
background-color: rgba(0,0,0,0.6);
/* Grid block for nav-items */ 
display: grid;
grid-template-columns: 35% 30% 35%;
/* Fixed top position*/
position: fixed;
top: 0;
left: 0; 
right: 0;
height: 70px;
float: center;
/*padding-top: 8px; 
padding-bottom: 8px;*/
z-index: 1;
}

.l-nav-item {
text-align: left;
}

#l-button{
/* Text properties */
font-size: 25px;
font-weight: bold;  
font-family: "Century Gothic";
color: white;
background-color: transparent;
/* Shape properties */
cursor: pointer;
text-decoration: none;
/* Position properties */
position: relative;
top:15px;
left: 25px;
padding-left:10px;
padding-right:30px;
/* Border properties */
border-color: transparent;
}

#l-button:hover {
color: orange;
}

#c-nav-item {
/* Text properties */
text-align:center;
font-size: 25px;        
font-family: 'Courier New', Courier, monospace;
color: white;
/* Position properties */
position: relative;
top:20px;
}

#r-button{
/* Text properties */
font-size: 25px;     
font-weight: bold;     
font-family: "Century Gothic";
color: white;
background-color: transparent;
/* Shape properties */
cursor: pointer;
text-decoration: none;
/* Position properties */
position: relative;
top: 15px;
right: 25px;
padding-left: 30px;
padding-right:10px;
/* Border properties */
border-color: transparent;
}

#r-button:hover {
color: orange;
}

#r-nav-item {
text-align: right;
}

.modal-txt{
margin: 20px;
}

#green {
height: 60px;
width: 60px;
border: 2px solid Green;
color: White;
background-color:Green;

font-family: "Franklin Gothic Medium";
font-size: 35px;
font-weight: bold;
text-align: center;
margin-top: 3px;
margin-bottom: 3px;
}

#yellow {
height: 60px;
width: 60px;
border: 2px solid #d5b60a;
color: White;
background-color:#d5b60a;

font-family: "Franklin Gothic Medium";
font-size: 35px;
font-weight: bold;
text-align: center;
margin-top: 3px;
margin-bottom: 3px;
}

#gray {
height: 60px;
width: 60px;
border: 2px solid gray;
color: White;
background-color:gray;

font-family: "Franklin Gothic Medium";
font-size: 35px;
font-weight: bold;
text-align: center;
margin-top: 3px;
margin-bottom: 3px;
}



#display-flex{
display:flex;
flex-direction: row;
}

#txt{
position:relative;
left: 15px;
top: 15px;
}

#Gamegrid {
bottom: 240px;
margin-right: auto;
margin-left: auto;
left: 0px;
right: 0px;
}

#Keys {
/* Centering the Keyboard to the bottom of the page */
position:absolute;
bottom:10px;
margin-right: auto;
margin-left: auto;
left: 0px;
right: 0px;
}