.nav-bar {
  background-color: rgba(0,0,0,0.6);
  /* Grid block for nav-items */ 
  display: grid;
  grid-template-columns: 35% 30% 35%;
  /* Fixed top position*/
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  height: 70px;
  float: center;
  /*padding-top: 8px; 
  padding-bottom: 8px;*/
  z-index: 1;
}

.l-nav-item {
  text-align: left;
}

#l-button{
  /* Text properties */
  font-size: 25px;
  font-weight: bold;  
  font-family: "Century Gothic";
  color: white;
  background-color: transparent;
  /* Shape properties */
  cursor: pointer;
  text-decoration: none;
  /* Position properties */
  position: relative;
  top:15px;
  left: 25px;
  padding-left:10px;
  padding-right:30px;
  /* Border properties */
  border-color: transparent;
}

#l-button:hover {
  color: orange;
}

#c-nav-item {
/* Text properties */
text-align:center;
font-size: 25px;        
font-family: 'Courier New', Courier, monospace;
color: white;
/* Position properties */
position: relative;
top:20px;
}

#r-button{
  /* Text properties */
  font-size: 25px;     
  font-weight: bold;     
  font-family: "Century Gothic";
  color: white;
  background-color: transparent;
  /* Shape properties */
  cursor: pointer;
  text-decoration: none;
  /* Position properties */
  position: relative;
  top: 15px;
  right: 25px;
  padding-left: 30px;
  padding-right:10px;
  /* Border properties */
  border-color: transparent;
}

#r-button:hover {
  color: orange;
}

#r-nav-item {
  text-align: right;
}

.modal-txt{
  margin: 20px;
}

#green {
  height: 60px;
  width: 60px;
  border: 2px solid Green;
  color: White;
  background-color:Green;

  font-family: "Franklin Gothic Medium";
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

#yellow {
  height: 60px;
  width: 60px;
  border: 2px solid #d5b60a;
  color: White;
  background-color:#d5b60a;

  font-family: "Franklin Gothic Medium";
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

#gray {
  height: 60px;
  width: 60px;
  border: 2px solid gray;
  color: White;
  background-color:gray;

  font-family: "Franklin Gothic Medium";
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

#display-flex{
  display:flex;
  flex-direction: row;
}

#txt{
  position:relative;
  left: 15px;
  top: 15px;
}

#info {
  text-align: center;
  position: relative;
  top: 100px;
}

#group_name{
  font-size: 30px;
  font-family: "Franklin Gothic Medium";;
  color: red;
  text-shadow: 
    3.5px 3.5px    black,
    3.25px 3.25px  black,
    3px 3px        black,
    2.75px 2.75px  black,
    2.5px 2.5px    black,
    2.25px 2.25px  black,
    2px 2px        black,
    1.75px 1.75px  black,
    1.5px 1.5px    black,
    1.25px 1.25px  black,
    1px 1px        black,
    0.75px 0.75px  black,
    0.5px 0.5px    black,
    0.25px 0.25px  black;
}
#present {
  font-size: 20px;
  font-family: "Franklin Gothic Medium";
  position:relative;
  left: 20px;
  top: 12px;
}

#title1 {
  height: 50px;
  width: 50px;
  border: 1px solid #45a049;
  color: White;
  background-color:#45a049;

  font-family: "Franklin Gothic Medium";
  font-size: 25px;
  font-weight: bold;
  text-align: center;

  margin: 2px;

}

#fake {
  height: 50px;
  width: 50px;
  border: 1px solid red;
  color: White;
  background-color:red;

  font-family: "Franklin Gothic Medium";
  font-size: 25px;
  font-weight: bold;
  text-align: center;

  margin: 2px;

}

#block_display {
  display:block;
}

.display_inline{
  text-align: center;
  position: relative;
  top: 150px;
  margin: 20px;
  display: block;
}
