.Leaderboard {
    text-align: center;
  }

.nav-bar {
  background-color: rgba(0,0,0,0.6);
  /* Grid block for nav-items */ 
  display: grid;
  grid-template-columns: 35% 30% 35%;
  /* Fixed top position*/
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  height: 70px;
  float: center;
  /*padding-top: 8px; 
  padding-bottom: 8px;*/
  z-index: 1;
}

#option1 {
  background-color: rgba(124, 212, 136, 0.568);
  margin-top: 80px;
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
}

#option2 {
  background-color: rgba(124, 212, 136, 0.568);
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
}

#option3 {
  background-color: rgba(124, 212, 136, 0.568);
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
}

.leaderboardTable {
  background-color: rgba(212, 199, 124, 0.568);
  margin-top: 20px;
}

.l-nav-item {
  text-align: left;
}



#l-button{
  /* Text properties */
  font-size: 25px;
  font-weight: bold;  
  font-family: "Century Gothic";
  color: white;
  background-color: transparent;
  /* Shape properties */
  cursor: pointer;
  text-decoration: none;
  /* Position properties */
  position: relative;
  top:15px;
  left: 25px;
  padding-left:10px;
  padding-right:30px;
  /* Border properties */
  border-color: transparent;
}

#l-button:hover {
  color: orange;
}

#c-nav-item {
/* Text properties */
text-align:center;
font-size: 25px;        
font-family: 'Courier New', Courier, monospace;
color: white;
/* Position properties */
position: relative;
top:20px;
}

#r-button{
  /* Text properties */
  font-size: 25px;     
  font-weight: bold;     
  font-family: "Century Gothic";
  color: white;
  background-color: transparent;
  /* Shape properties */
  cursor: pointer;
  text-decoration: none;
  /* Position properties */
  position: relative;
  top: 15px;
  right: 25px;
  padding-left: 30px;
  padding-right:10px;
  /* Border properties */
  border-color: transparent;
}

#r-button:hover {
  color: orange;
}

#r-nav-item {
  text-align: right;
}

.mainpage{
  background-color: white;
  padding-top:230px;
  padding-bottom:234px;
  z-index: -1;
  text-align: center;
  /* flex block for nav-items */ 
  display: flex;
  flex-direction: column;
}

.modal-txt{
  margin: 20px;
}

#green {
  height: 60px;
  width: 60px;
  border: 2px solid Green;
  color: White;
  background-color:Green;

  font-family: "Franklin Gothic Medium";
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

#yellow {
  height: 60px;
  width: 60px;
  border: 2px solid #d5b60a;
  color: White;
  background-color:#d5b60a;

  font-family: "Franklin Gothic Medium";
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

#gray {
  height: 60px;
  width: 60px;
  border: 2px solid gray;
  color: White;
  background-color:gray;

  font-family: "Franklin Gothic Medium";
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}



#display-flex{
  display:flex;
  flex-direction: row;
}

#txt{
  position:relative;
  left: 15px;
  top: 15px;
}



























@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

#main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.board {
    text-align: center;
}

.board .leaderboard{
    margin-bottom: 1em;
}

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    /* display: flex; */
    margin-top: 6em;
}

#profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    width: 20%;
    border-radius: 50%;
}

#profile .flex .info{
   padding: 1em;
}

.text-dark{
    color: var(--color-dark);
}