#fourLetters {
  background-color: rgba(124, 212, 136, 0.568);
  margin-top: 80px;
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
}

#fiveLetters {
  background-color: rgba(124, 212, 136, 0.568);
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
}

#sixLetters {
  background-color: rgba(124, 212, 136, 0.568);
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
}

.leaderboardTable {
  background-color: rgba(212, 199, 124, 0.568);
  margin-top: 20px;
}